@charset "UTF-8";

//	support
//----------------------------------------------------------------------------------//
supportIe6		= true
supportIe7		= true
supportIe8		= true
supportHtml5	= true

//	for reset scss
//----------------------------------------------------------------------------------//
defaultBgColor		= #fff;
defaultTxtColor		= #333;
defaultLinkColor	= #333;
defaultTxtSize		= 12px;
defaultLineHeight	= 1.2;

//	break point
//----------------------------------------------------------------------------------//
breakL		= 1025px;
breakM		= 768px;
breakS		= 568px;

mqS			= "screen and (min-width: 0px) and (max-width: #{$break-s})";
mqM			= "screen and (max-width: #{$break-l})";
retina		= "only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5)";

//	lineHeight
//----------------------------------------------------------------------------------//
lh1	= 1;
lhS	= 1.2;
lhM	= 1.5;
lhL	= 1.75;

