@charset 'UTF-8'

@import 'nib'

@import url("http://fonts.googleapis.com/css?family=Open+Sans")
@import "dynamic/setting"
@import "static/mixin"
@import "static/reset"
@import "static/common"

//	layout
//------------------------------------------------------
html
	background: defaultBgColor

#commonHeader
	padding: 15px 0;
	background: linear-gradient(top, #ccc, #fff);

	h1
		text-align: center;
		font-family: 'Open Sans';
		font-size: 30 12;

#content
	clearfix()
	width: 980px;
	margin: 90px auto 0;

	#main
		float: right;
		width: 700px;
		padding: 20px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;

	#side
		float: left;
		width: 160px;
		padding: 20px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;

		&.fixed {
			position: fixed;
			top: -10px;
		}

		a
			display: block;
			margin: 5px 0 0 0;
			padding: 5px 0;
			color: #ccc;
			font-size: 16 12;

			&:first-child
				margin-top: 0;

			&:hover
				color: #333;
				
			&.cr
				color: #333;
				font-weight: 600;

#commonFooter
	margin: 0 auto;
	margin: 40px 0 0 0;
	padding: 15px 0;
	background: #333;

	address
		color: #fff;
		text-align: center;

		a
			color: #fff;

