//width
for i in 1...100
	.w{i}p
		width: 1% * i !important

//margin
for i in 0...10
	.mat{i*5}
		margin-top: 5px * i !important
	.mar{i*5}
		margin-right: 5px * i !important
	.mab{i*5}
		margin-bottom: 5px * i !important
	.mal{i*5}
		margin-left: 5px * i !important

for i in 0...10
	.mate{i*5}
		margin-top: 5em * i !important
	.mare{i*5}
		margin-right: 5em * i !important
	.mabe{i*5}
		margin-bottom: 5em * i !important
	.male{i*5}
		margin-left: 5em * i !important


//negative margin
for i in 1...10
	.nmat{i*5}
		margin-top: -5px * i !important !important
	.nmar{i*5}
		margin-right: -5px * i !important !important
	.nmab{i*5}
		margin-bottom: -5px * i !important !important
	.nmal{i*5}
		margin-left: -5px * i !important !important


//padding
for i in 0...10
	.pat{i*5}
		padding-top: 5px * i !important
	.par{i*5}
		padding-right: 5px * i !important
	.pab{i*5}
		padding-bottom: 5px * i !important
	.pal{i*5}
		padding-left: 5px * i !important

//float
.fl
	float: left !important

.fr
	float: right !important

//font-weight
.fw
	font-weight: 600 !important

.fwn
	font-weight: 400 !important

//text-align
.tal
	text-align: left !important

.tac
	text-align: center !important

.tar
	text-align: right !important

//cursor
.curd
	cursor: default !important

.curp
	cursor: pointer !important

