@charset 'UTF-8'

@import '../core'

#firstLastChild

	.flChild

		li
			padding: 10px;
			background: #ccc;

		.firstChild
			background: #000;
			color: #fff;

		.lastChild
			background: #fff;
			color: #f00;

#oddEven

	.stripe

		li
			padding: 10px;

		.odd
			background: #ccc;

		.even
			background: #666;
			color: #fff;

#nthChild
	
	.nthChild-3
		
		li
			padding: 10px;

		.child-1
			background: #eee;

		.child-2
			background: #666;
			color: #fff;

		.child-3
			background: #333;
			color: #fff;

#nthLastChild
	
	.nthLastChild-3
		
		li
			padding: 10px;

		.lastChild-1
			border-left: 5px solid red;

		.lastChild-2
			border-left: 5px solid yellow;

		.lastChild-3
			border-left: 5px solid blue;

#nthOfType
	
	.nthType-p-3

		p,
		li
			padding: 10px;

		.tyChild-1
			background: #eee;

		.tyChild-2
			background: #666;
			color: #fff;

		.tyChild-3
			background: #333;
			color: #fff;

#nthLastOfType
	
	.nthLastType-p-3

		p,
		li
			padding: 10px;

		.lastTyChild-1
			background: #eee;

		.lastTyChild-2
			background: #666;
			color: #fff;

		.lastTyChild-3
			background: #333;
			color: #fff;

#hover

	.hoverWrap {
		padding: 15px;
		background: #efefef;
		border: 1px solid #ccc;
		font-weight: 600;
	}

	.hover {
		background: #000;
		color: #fff;
	}

.clearfix
	clearfix();
