@charset 'UTF-8';
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
*{margin:0;padding:0;font-size:100%;font:inherit;vertical-align:baseline}
html{color:#333;background:#fff;overflow-y:scroll}
body{font-family:"meiryo";font-size:12px;line-height:1.2;height:100%;text-align:left;-webkit-text-size-adjust:none}
hr,legend{display:none}
img{border:none;vertical-align:bottom}
div,dl,dt,dd,form,input,ul,ol,li,p,select,textarea,span,th,td{margin:0;padding:0}
address,th,caption,em,strong{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;margin:0;padding:0}
input,select,textarea{font-size:100%;font-family:inherit;font-weight:inherit}
sup{vertical-align:text-top;font-size:72%}
sub{vertical-align:text-bottom;font-size:72%}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0;font-size:100%;font-size:inherit}
caption{text-align:left}
fieldset{border:0}
a{overflow:hidden;outline:none;}
a:link{color:#333;text-decoration:none}
a:visited{color:#333;text-decoration:none}
a:hover,a:active{color:#333;text-decoration:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ins{display:inline;text-decoration:none}
.w1p{width:1% !important}
.w2p{width:2% !important}
.w3p{width:3% !important}
.w4p{width:4% !important}
.w5p{width:5% !important}
.w6p{width:6% !important}
.w7p{width:7% !important}
.w8p{width:8% !important}
.w9p{width:9% !important}
.w10p{width:10% !important}
.w11p{width:11% !important}
.w12p{width:12% !important}
.w13p{width:13% !important}
.w14p{width:14% !important}
.w15p{width:15% !important}
.w16p{width:16% !important}
.w17p{width:17% !important}
.w18p{width:18% !important}
.w19p{width:19% !important}
.w20p{width:20% !important}
.w21p{width:21% !important}
.w22p{width:22% !important}
.w23p{width:23% !important}
.w24p{width:24% !important}
.w25p{width:25% !important}
.w26p{width:26% !important}
.w27p{width:27% !important}
.w28p{width:28% !important}
.w29p{width:29% !important}
.w30p{width:30% !important}
.w31p{width:31% !important}
.w32p{width:32% !important}
.w33p{width:33% !important}
.w34p{width:34% !important}
.w35p{width:35% !important}
.w36p{width:36% !important}
.w37p{width:37% !important}
.w38p{width:38% !important}
.w39p{width:39% !important}
.w40p{width:40% !important}
.w41p{width:41% !important}
.w42p{width:42% !important}
.w43p{width:43% !important}
.w44p{width:44% !important}
.w45p{width:45% !important}
.w46p{width:46% !important}
.w47p{width:47% !important}
.w48p{width:48% !important}
.w49p{width:49% !important}
.w50p{width:50% !important}
.w51p{width:51% !important}
.w52p{width:52% !important}
.w53p{width:53% !important}
.w54p{width:54% !important}
.w55p{width:55% !important}
.w56p{width:56% !important}
.w57p{width:57% !important}
.w58p{width:58% !important}
.w59p{width:59% !important}
.w60p{width:60% !important}
.w61p{width:61% !important}
.w62p{width:62% !important}
.w63p{width:63% !important}
.w64p{width:64% !important}
.w65p{width:65% !important}
.w66p{width:66% !important}
.w67p{width:67% !important}
.w68p{width:68% !important}
.w69p{width:69% !important}
.w70p{width:70% !important}
.w71p{width:71% !important}
.w72p{width:72% !important}
.w73p{width:73% !important}
.w74p{width:74% !important}
.w75p{width:75% !important}
.w76p{width:76% !important}
.w77p{width:77% !important}
.w78p{width:78% !important}
.w79p{width:79% !important}
.w80p{width:80% !important}
.w81p{width:81% !important}
.w82p{width:82% !important}
.w83p{width:83% !important}
.w84p{width:84% !important}
.w85p{width:85% !important}
.w86p{width:86% !important}
.w87p{width:87% !important}
.w88p{width:88% !important}
.w89p{width:89% !important}
.w90p{width:90% !important}
.w91p{width:91% !important}
.w92p{width:92% !important}
.w93p{width:93% !important}
.w94p{width:94% !important}
.w95p{width:95% !important}
.w96p{width:96% !important}
.w97p{width:97% !important}
.w98p{width:98% !important}
.w99p{width:99% !important}
.mat0{margin-top:0 !important}
.mar0{margin-right:0 !important}
.mab0{margin-bottom:0 !important}
.mal0{margin-left:0 !important}
.mat5{margin-top:5px !important}
.mar5{margin-right:5px !important}
.mab5{margin-bottom:5px !important}
.mal5{margin-left:5px !important}
.mat10{margin-top:10px !important}
.mar10{margin-right:10px !important}
.mab10{margin-bottom:10px !important}
.mal10{margin-left:10px !important}
.mat15{margin-top:15px !important}
.mar15{margin-right:15px !important}
.mab15{margin-bottom:15px !important}
.mal15{margin-left:15px !important}
.mat20{margin-top:20px !important}
.mar20{margin-right:20px !important}
.mab20{margin-bottom:20px !important}
.mal20{margin-left:20px !important}
.mat25{margin-top:25px !important}
.mar25{margin-right:25px !important}
.mab25{margin-bottom:25px !important}
.mal25{margin-left:25px !important}
.mat30{margin-top:30px !important}
.mar30{margin-right:30px !important}
.mab30{margin-bottom:30px !important}
.mal30{margin-left:30px !important}
.mat35{margin-top:35px !important}
.mar35{margin-right:35px !important}
.mab35{margin-bottom:35px !important}
.mal35{margin-left:35px !important}
.mat40{margin-top:40px !important}
.mar40{margin-right:40px !important}
.mab40{margin-bottom:40px !important}
.mal40{margin-left:40px !important}
.mat45{margin-top:45px !important}
.mar45{margin-right:45px !important}
.mab45{margin-bottom:45px !important}
.mal45{margin-left:45px !important}
.mate0{margin-top:0 !important}
.mare0{margin-right:0 !important}
.mabe0{margin-bottom:0 !important}
.male0{margin-left:0 !important}
.mate5{margin-top:5em !important}
.mare5{margin-right:5em !important}
.mabe5{margin-bottom:5em !important}
.male5{margin-left:5em !important}
.mate10{margin-top:10em !important}
.mare10{margin-right:10em !important}
.mabe10{margin-bottom:10em !important}
.male10{margin-left:10em !important}
.mate15{margin-top:15em !important}
.mare15{margin-right:15em !important}
.mabe15{margin-bottom:15em !important}
.male15{margin-left:15em !important}
.mate20{margin-top:20em !important}
.mare20{margin-right:20em !important}
.mabe20{margin-bottom:20em !important}
.male20{margin-left:20em !important}
.mate25{margin-top:25em !important}
.mare25{margin-right:25em !important}
.mabe25{margin-bottom:25em !important}
.male25{margin-left:25em !important}
.mate30{margin-top:30em !important}
.mare30{margin-right:30em !important}
.mabe30{margin-bottom:30em !important}
.male30{margin-left:30em !important}
.mate35{margin-top:35em !important}
.mare35{margin-right:35em !important}
.mabe35{margin-bottom:35em !important}
.male35{margin-left:35em !important}
.mate40{margin-top:40em !important}
.mare40{margin-right:40em !important}
.mabe40{margin-bottom:40em !important}
.male40{margin-left:40em !important}
.mate45{margin-top:45em !important}
.mare45{margin-right:45em !important}
.mabe45{margin-bottom:45em !important}
.male45{margin-left:45em !important}
.nmat5{margin-top:-5px !important !important}
.nmar5{margin-right:-5px !important !important}
.nmab5{margin-bottom:-5px !important !important}
.nmal5{margin-left:-5px !important !important}
.nmat10{margin-top:-10px !important !important}
.nmar10{margin-right:-10px !important !important}
.nmab10{margin-bottom:-10px !important !important}
.nmal10{margin-left:-10px !important !important}
.nmat15{margin-top:-15px !important !important}
.nmar15{margin-right:-15px !important !important}
.nmab15{margin-bottom:-15px !important !important}
.nmal15{margin-left:-15px !important !important}
.nmat20{margin-top:-20px !important !important}
.nmar20{margin-right:-20px !important !important}
.nmab20{margin-bottom:-20px !important !important}
.nmal20{margin-left:-20px !important !important}
.nmat25{margin-top:-25px !important !important}
.nmar25{margin-right:-25px !important !important}
.nmab25{margin-bottom:-25px !important !important}
.nmal25{margin-left:-25px !important !important}
.nmat30{margin-top:-30px !important !important}
.nmar30{margin-right:-30px !important !important}
.nmab30{margin-bottom:-30px !important !important}
.nmal30{margin-left:-30px !important !important}
.nmat35{margin-top:-35px !important !important}
.nmar35{margin-right:-35px !important !important}
.nmab35{margin-bottom:-35px !important !important}
.nmal35{margin-left:-35px !important !important}
.nmat40{margin-top:-40px !important !important}
.nmar40{margin-right:-40px !important !important}
.nmab40{margin-bottom:-40px !important !important}
.nmal40{margin-left:-40px !important !important}
.nmat45{margin-top:-45px !important !important}
.nmar45{margin-right:-45px !important !important}
.nmab45{margin-bottom:-45px !important !important}
.nmal45{margin-left:-45px !important !important}
.pat0{padding-top:0 !important}
.par0{padding-right:0 !important}
.pab0{padding-bottom:0 !important}
.pal0{padding-left:0 !important}
.pat5{padding-top:5px !important}
.par5{padding-right:5px !important}
.pab5{padding-bottom:5px !important}
.pal5{padding-left:5px !important}
.pat10{padding-top:10px !important}
.par10{padding-right:10px !important}
.pab10{padding-bottom:10px !important}
.pal10{padding-left:10px !important}
.pat15{padding-top:15px !important}
.par15{padding-right:15px !important}
.pab15{padding-bottom:15px !important}
.pal15{padding-left:15px !important}
.pat20{padding-top:20px !important}
.par20{padding-right:20px !important}
.pab20{padding-bottom:20px !important}
.pal20{padding-left:20px !important}
.pat25{padding-top:25px !important}
.par25{padding-right:25px !important}
.pab25{padding-bottom:25px !important}
.pal25{padding-left:25px !important}
.pat30{padding-top:30px !important}
.par30{padding-right:30px !important}
.pab30{padding-bottom:30px !important}
.pal30{padding-left:30px !important}
.pat35{padding-top:35px !important}
.par35{padding-right:35px !important}
.pab35{padding-bottom:35px !important}
.pal35{padding-left:35px !important}
.pat40{padding-top:40px !important}
.par40{padding-right:40px !important}
.pab40{padding-bottom:40px !important}
.pal40{padding-left:40px !important}
.pat45{padding-top:45px !important}
.par45{padding-right:45px !important}
.pab45{padding-bottom:45px !important}
.pal45{padding-left:45px !important}
.fl{float:left !important}
.fr{float:right !important}
.fw{font-weight:600 !important}
.fwn{font-weight:400 !important}
.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}
.curd{cursor:default !important}
.curp{cursor:pointer !important}
html{background:#fff}
#commonHeader{padding:15px 0;background:-webkit-linear-gradient(top, #ccc, #fff);background:-moz-linear-gradient(top, #ccc, #fff);background:-o-linear-gradient(top, #ccc, #fff);background:-ms-linear-gradient(top, #ccc, #fff);background:linear-gradient(to bottom, #ccc, #fff);}
#commonHeader h1{text-align:center;font-family:'Open Sans';font-size:250%}
#content{*zoom:1;width:980px;margin:90px auto 0;}
#content:after{content:"";display:block;clear:both}
#content #main{float:right;width:700px;padding:20px;background:#fff;border:1px solid #ccc;-webkit-border-radius:4px;border-radius:4px}
#content #side{float:left;width:160px;padding:20px;background:#fff;border:1px solid #ccc;-webkit-border-radius:4px;border-radius:4px;}
#content #side.fixed{position:fixed;top:-10px}
#content #side a{display:block;margin:5px 0 0 0;padding:5px 0;color:#ccc;font-size:133.33333333333331%;}
#content #side a:first-child{margin-top:0}
#content #side a:hover{color:#333}
#content #side a.cr{color:#333;font-weight:600}
#commonFooter{margin:0 auto;margin:40px 0 0 0;padding:15px 0;background:#333;}
#commonFooter address{color:#fff;text-align:center;}
#commonFooter address a{color:#fff}
