@charset 'UTF-8';
.ModSection{margin:30px 0 0 0;}
.ModSection:first-child{margin-top:0}
.ModSection .ModSectionHead{padding:10px;background:#eee;-webkit-border-radius:3px;border-radius:3px;font-size:150%;font-weight:600;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
.ModSection .ModSectionHead2{margin:15px 0 0 0;padding:10px;background:#fff;border-bottom:1px solid #ccc;font-size:133.33333333333331%;font-weight:600;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
.ModSection .ModSectionBlock{padding:15px}
#firstLastChild .flChild li{padding:10px;background:#ccc}
#firstLastChild .flChild .firstChild{background:#000;color:#fff}
#firstLastChild .flChild .lastChild{background:#fff;color:#f00}
#oddEven .stripe li{padding:10px}
#oddEven .stripe .odd{background:#ccc}
#oddEven .stripe .even{background:#666;color:#fff}
#nthChild .nthChild-3 li{padding:10px}
#nthChild .nthChild-3 .child-1{background:#eee}
#nthChild .nthChild-3 .child-2{background:#666;color:#fff}
#nthChild .nthChild-3 .child-3{background:#333;color:#fff}
#nthLastChild .nthLastChild-3 li{padding:10px}
#nthLastChild .nthLastChild-3 .lastChild-1{border-left:5px solid #f00}
#nthLastChild .nthLastChild-3 .lastChild-2{border-left:5px solid #ff0}
#nthLastChild .nthLastChild-3 .lastChild-3{border-left:5px solid #00f}
#nthOfType .nthType-p-3 p,#nthOfType .nthType-p-3 li{padding:10px}
#nthOfType .nthType-p-3 .tyChild-1{background:#eee}
#nthOfType .nthType-p-3 .tyChild-2{background:#666;color:#fff}
#nthOfType .nthType-p-3 .tyChild-3{background:#333;color:#fff}
#nthLastOfType .nthLastType-p-3 p,#nthLastOfType .nthLastType-p-3 li{padding:10px}
#nthLastOfType .nthLastType-p-3 .lastTyChild-1{background:#eee}
#nthLastOfType .nthLastType-p-3 .lastTyChild-2{background:#666;color:#fff}
#nthLastOfType .nthLastType-p-3 .lastTyChild-3{background:#333;color:#fff}
#hover .hoverWrap{padding:15px;background:#efefef;border:1px solid #ccc;font-weight:600}
#hover .hover{background:#000;color:#fff}
.clearfix{*zoom:1;}
.clearfix:after{content:"";display:block;clear:both}
